<ion-header>
  <ion-toolbar>
    <ion-title color="light">Contact</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" color="light"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card >
    <ion-card-content>
      <ion-text color="primary">
        <p>El Camino forme de jeunes musiciens avec une pédagogie très innovante. Inaugurée le samedi 3 octobre 2015, l'école
          de Pau accueille 180 enfants.</p>
      </ion-text>
        <div class="icon-title">
            <ion-icon slot="icon-only" name="globe" color="primary" style="margin-right: 10px;"></ion-icon>
            <ion-label color="primary">www.elcamino.fr</ion-label>
        </div>
        <div class="icon-title">
          <ion-icon slot="icon-only" name="call" color="primary" style="margin-right: 10px;"></ion-icon>
          <ion-label color="primary">05 59 33 00 85</ion-label>
      </div>
      <div class="icon-title">
        <ion-icon slot="icon-only" name="at" color="primary" style="margin-right: 10px;"></ion-icon>
        <ion-label color="primary">contact@elcamino.fr</ion-label>
    </div>
  </ion-card-content>
</ion-card>
</ion-content>

  