body{
    position: relative;
}
.spinner{
    border: 6px solid #FBBA00;
    border-top: 6px solid #009FE3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 700ms linear infinite;
    top:45%;
    left: 45%;
    position: absolute;
    z-index: 100;
}

ion-title{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-right: 30px;
}

ion-content, ion-toolbar{
    --background: #192340;
}

ion-header{
    box-shadow: 0 4px 2px -2px #FBBA00;
}

ion-card-content{
    color: #192340;
}
ion-label{
    font-weight: 700;
}

ion-card, ion-item{
    // --background: #FBBA00;
}

@keyframes spin {
    0% { transform: rotate(0deg)}
    100% { transform: rotate(360deg);}
}