<ion-header>
  <ion-toolbar>
    <ion-title color="light">Cours</ion-title>
    <ion-back-button color="light" defaultHref="/nav/notification" slot="end"></ion-back-button>

 
    <!--<ion-title class="ion-text-center">Cours</ion-title>-->

  <!-- Hamburger -->
  <ion-buttons  slot="start">
    <ion-menu-button autoHide="false" color="light"></ion-menu-button>
  </ion-buttons>

</ion-toolbar>
</ion-header>

<div *ngIf="notifications.length===0" class="spinner"></div>
<ion-content class="ion-padding">
  <ion-card  *ngFor="let notification of notifications; let i = index;" class="ion-margin">
    
    
    <ion-item>
      <ion-label color="primary">{{notification.title}}</ion-label>
      <ion-label color="primary">{{notification.date}}</ion-label>
			<!--<ion-icon name="notifications" slot="start"></ion-icon>-->
			
			<!--<ion-button color="medium" slot="end">click</ion-button>-->
		</ion-item>

		<ion-card-content>
			{{notification.body}}
		</ion-card-content>
	</ion-card>
</ion-content>
