ion-content{
    --background: #FBBA00;
    
}
ion-list{
    background: #FBBA00;
}

ion-toolbar{
    --background: #FBBA00;
}
ion-item{
    color:#192340;
    font-weight: 900;
    --background: #FBBA00;
}

ion-icon{
    color:#192340;
}



ion-menu{
    --width: 90%;
}

// ion-toolbar{
//     --background: #192340;
//     ion-buttons{
//         color:#FBBA00;
//     }
// }

